img {
  width: 300px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.heading {
  font-size: 20pt;
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 0;
}

.italic {
  text-align: justify;
  font-style: italic;
}

.box {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px lightgrey;
}

.text {
  width: 278px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid lightgrey;
  font-family: Times;
}
